body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    justify-content: center;
}

.container{
display: flex;
}
.panel{
    margin: 10px;
    width: 100%;
    height: 600px;
    border-radius: 10%;
    cursor: pointer; 
    flex: 0.5;  
    transition: flex 0.5s ease-in ;
    position: relative;

}
.panel1{
    background-image: url(dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
 }
.panel2{
    background-image: url(book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.panel3{
    background-image: url(camera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.panel4{
    background-image: url(laptop.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    position: absolute;
    bottom: 5px;
    left: 5px;
    opacity: 0;
}
.panel.active{
    flex: 10;
    border-radius: 5%;
  
}
.active h1{
    opacity: 1;
    transition: opacity  ease-in 1s ;
}
@media (max-width:480px){
.panel3, .panel4{
    display: none;
}
};
